<div class='parent flex-parent'>
    <div class='child flex-child'>A
  
  
      <div class="col-md-5">
        <div class="panel panel-default">
          <div  *ngIf="!checkinfollowers()">
          <button class="follow" title="follow"
          (click)="follow(profileUser.username)">follow   {{profileUser.username}}</button>
        </div>
        <div *ngIf="checkinfollowers()">
          <button class="unfollow" title="unfollow"
          (click)="unfollow(profileUser.username)">unfollow   {{profileUser.username}}</button>
        </div>
          <div class="panel-body">
            <div class="col-md-3 ">
              <img class="img-rounded" src="{{profileUser.profilePicture}}" width="200px" height="200px">
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
  
  
  
          </div>
          <div class="panel panel-default">
            <h2>timeline</h2>
  
          </div>
          <ul>
              <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>text</th>
                    <th>poster</th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let kweet of last10kweets">
                    <th scope="row">{{kweet.id}}</th>
                    <td>{{ kweet.text }}</td>
                    <td>{{ kweet.placer.username}}</td>
                  </tr>
                  </tbody>
                </table>
           
          </ul>
        
  
        </div>
      </div>
    </div>
    <div class='child flex-child'>B
      <h2>Details</h2>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">
                <img
                  src="https://cdn2.iconfinder.com/data/icons/business-hr-and-recruitment/100/biography_candidate_cv_hr_job_recruitment_-512.png"
                  width="15" height="15">
                {{profileUser.bio}}
  
                <div class="row">
                  <div class="col-md-2">
  
                    <img
                      src="https://banner2.kisspng.com/20180328/wue/kisspng-computer-icons-web-button-internet-5abb428da52863.2959068315222217096765.jpg"
                      width="15" height="15">
                    <a href="{{profileUser.website}}">{{profileUser.website}}</a>
  
                  </div>
                </div>
                <div class="col-md-10">
                </div>
  
                <div class="row" >
                  <div class="col-md-2">
                    <img
                      src="https://banner2.kisspng.com/20180329/lgq/kisspng-computer-icons-location-google-maps-location-icon-5abd9e8462a3c4.6805871415223763244041.jpg"
                      width="15" height="15">
                    {{profileUser.location}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
  
  
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <h1>followers</h1>
        <div class="row">
          <div class="col-md-3" *ngIf="profileUser.kweets">
            kweets: {{profileUser.kweets.length}}
          </div>
          <div class="col-md-3" *ngIf="profileUser.following">
            following: {{profileUser.following.length}}
          </div>
          <div class="col-md-3" *ngIf="profileUser.followers">
            followers: {{profileUser.followers.length}}
          </div>
        </div>
      </div>
      <div class="panel-body">
        <h1>following</h1>
        <ul>
            <li *ngFor="let user of profileUser.following">
                <a href="/profile/{{user.username}}">{{user.username}}</a>
            </li>
          </ul>
    
      </div>
  
    </div>
  </div>