/* HeroesComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .kweets {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .kweets li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .kweets li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .kweets li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .kweets .text {
    position: relative;
    top: -3px;
  }
  .kweets .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .float-left-child {
    float: left
  }
  
  
  .inline-block-child {
    display: inline-block;
  }
  
  
  .flex-parent {
    display: flex;
  }
  .flex-child {
    flex: 1;
  }
  
  
  .inline-flex-parent {
    display: inline-flex;
  }
  
  
  /* base css */
  body {
    padding: 3rem;
  }
  h3 {
    margin: 1.5rem 0 .25em;
    clear: both;
  }
  .parent {
    padding: 1rem
  }
  .child {
    padding: 1rem
  }
  
  .grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr
  }