
<div class='parent flex-parent'>
  <div class='child flex-child'>A
      <div ng-app="app" ng-controller="ctrl" id="app">
          <!-- 'keyword' will serve as the model for what the user enters -->
         
          <ul *ngIf=searchKweets>
            <!-- display each art object using ng-repeat directive-->
            <li  ng-repeat="kweet in searchkweets ">
              {{kweet.text}}
            </li>
          </ul>
        </div>
      

    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">{{currentUser.username}}</div>
        <div class="panel-body">
          <div class="col-md-3 ">
            <img class="img-rounded" src="{{currentUser.profilePicture}}" width="200px" height="200px">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
   


        </div>
        <div class="panel panel-default">
          <h2>timeline</h2>
        </div>
        <form (ngSubmit)="onPost()">
        <div class="md-form mt-0">
            <input class="form-control" type="text" [(ngModel)]="post" name="search"placeholder="hello world">
            <button type="submit" class="btn btn-success">post</button>
          </div>
        </form>
          <form (ngSubmit)="search()">
              <div class="md-form mt-0">
                  <input class="form-control" type="text" [(ngModel)]="regModel" name="search"placeholder="search...">
                  <button type="submit" class="btn btn-success">search</button>
              </div>
       
            </form>
        <ul>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>text</th>
                  <th>poster</th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let kweet of kweetsUser">
                  <th scope="row">{{kweet.id}}</th>
                  <td>{{ kweet.text }}</td>
                  <td>{{ kweet.placer.username}}</td>
                </tr>
                </tbody>
              </table>
         
        </ul>

      </div>
    </div>
  </div>
  <div class='child flex-child'>B
    <h2>Trending</h2>
    <div class="panel-body">
        <div class="row">
            <ul>
                <li *ngFor="let topic of trendingTopics">
                    {{topic.title}}
                </li>
              </ul>
        
      </div>
    </div>

    <h2>Details</h2>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <img
                src="https://cdn2.iconfinder.com/data/icons/business-hr-and-recruitment/100/biography_candidate_cv_hr_job_recruitment_-512.png"
                width="15" height="15">
              {{currentUser.bio}}

              <div class="row">
                <div class="col-md-2">

                  <img
                    src="https://banner2.kisspng.com/20180328/wue/kisspng-computer-icons-web-button-internet-5abb428da52863.2959068315222217096765.jpg"
                    width="15" height="15">
                  <a href="{{currentUser.website}}">{{currentUser.website}}</a>

                </div>
              </div>
              <div class="col-md-10">
              </div>

              <div class="row" *ngIf="currentUser.location">
                <div class="col-md-2">
                  <img
                    src="https://banner2.kisspng.com/20180329/lgq/kisspng-computer-icons-location-google-maps-location-icon-5abd9e8462a3c4.6805871415223763244041.jpg"
                    width="15" height="15">
                  {{currentUser.location}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">


          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <h1>followers</h1>
      <div class="row">
        <div class="col-md-3" *ngIf="currentUser.kweets">
          kweets: {{currentUser.kweets.length}}
        </div>
        <div class="col-md-3" *ngIf="currentUser.following">
          following: {{currentUser.following.length}}
        </div>
        <div class="col-md-3" *ngIf="currentUser.followers">
          followers: {{currentUser.followers.length}}
        </div>
      </div>
    </div>
    <div class="panel-body">
      <h1>following</h1>
      <ul>
          <li *ngFor="let user of currentUser.following">
              <a href="/profile/{{user.username}}">{{user.username}}</a>
          </li>
        </ul>
  
    </div>

  </div>
</div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
  <script src="search.js"></script>